*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --lightGrey: #EDF0F5;
  --grey: #908484;
  --red: #FF4135;
  --black: #222222;
}

body{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 100vh;
}


/* table */

table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: var(--lightGrey) 
	}

th { 
	background: var(--grey); 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid var(--lightGrey); 
	text-align: left; 
	font-size: 18px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid var(--lightGrey) }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid var(--lightGrey);
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}